:root {
    --primaryColor: #577D86;
    --backgroundColor: #B9EDDD;
    --myTitleFont: 'Dancing Script', cursive;
}

* {
    margin: 0%;
}

.body {
    margin: 0px;
}

.top-section {
    text-align: center;
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
}


/* .heading-group {
    display: inline-block;
    padding-top: 100px;
} */

.heading-group {
    padding: 100px;
}

.heading {
    font-family: var(--myTitleFont);
    margin: 0;
}

.bio {
    font-family: 'Lato', sans-serif;
    font-size: 0.75cm;
}

.top-cloud {
    margin-block-start: 50px;
    margin-left: 120px;
    width: 150px;
    position: absolute;
}

.bottom-cloud {
    position: absolute;
    margin-block-start: 50px;
    margin-left: -200px;
    width: 150px;
}

.mountain {
    width: 300px;
}

img {
    margin-bottom: -5px;
}